<div id="content-text">
  Enterprises today, prefer focusing on their core business processes and outsourcing the supporting processes to external experts. This model increases the flexibility of an enterprise to deal with change. Thus, enterprises are becoming global value networks rather than monolithic entities. In this model it becomes imperative to stay connected with the extended enterprise ecosystem. Enterprise Applications and IT services facilitates seamless integration of distributed enterprises and their supply chains.Enterprises today, prefer focusing on their core business processes and outsourcing processes to external experts. This model increases the flexibility of an enterprise to deal with change.
  Thus, enterprises are becoming global value networks rather than monolithic entities. In this model it becomes imperative to stay connected with the extended enterprise ecosystem. Enterprise Applications and IT Services facilitate seamless integration of distributed enterprises and their supply chains.
</div>
<div id="consutancy-backgourd">
  <!-- sub navigation -->
  <article class="content-section1">
    <div class="col-5">
      <div id="yellow">
        <ul class="dashboardtabs">
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Business Analysis Services</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Project Management Services</a></div></li>
          <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -3px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">Process Definition and <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Management Services </a></div></li>
          <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -3px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab4">Communication management <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab5">Product consulting</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab6">Cloud consulting</a></div></li>
          <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab7">Technology consulting</a></div></li>
        </ul>
      </div>
    </div>
    <div class="dashboardpanes">
      <div class="dashboardPanels tabs" id="tab1" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab2" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab3" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab4" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab5" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab6" style="display:none;">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
      <div class="dashboardPanels tabs" id="tab7">
        <div class="col-6">
          <div id="sub_text">
            Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
            <br/><strong>How can it help you working</strong><br/>
            Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
            End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<div style="text-align: center; margin-bottom: 35px;">
  <img src="/assets/portfolio/request a quote button.png"/>
</div>