<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
      <title>Contact</title>
    </meta>
    <%= stylesheet_link_tag "all", :media => "all" %>

  </head>
  <body class="home">
    <!-- wrapper -->
    <div id="wrapper">
      <div class="w1">
        <div id="contact_body">
          <!-- header -->
          <header id="header">
            <div class="contact_header-holder">
              <!-- bar -->
              <div class="bar">
                <!-- logo -->
                <h1 class="logo vcard"><a href="home.html" class="fn org url"></a></h1>
                <!-- social networks -->
                <ul class="social-networks">
                  <li><%=  link_to image_tag("/assets/homeblack.png"), '/', :class=>"home1" %></li>
                  <li><%=   link_to image_tag("/assets/portfolioblack.png"), '/portfolio', :class=>"portfolio"  %></li>
                  <li><%=  link_to image_tag("/assets/homeorange.png"), '/contact'  %></li>
                </ul>
              </div>
            </div>
          </header>
          <div id="gray">
            <div class="main-holder">
              <div id="left-col">
                <img src="/assets/contact/get in touch txt.png"/>
              </div>
              <div id="right-col">
                <img src="/assets/contact/quote button.png"/>
              </div>
            </div>
          </div>
          <div class="main-holder">
            <div id="contact_sub_body">
              <!-- sub navigation -->
              <article class="contact_content-section">
                <table align="left" cellspacing="0" cellpadding="0" border="0">
                  <tr>
                    <td class="header" align="left" valign="top" height="25">Leave Us A Message</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"> <div id="cont_text">Fell free to contact me or please fill up below in the following details and i will be in touch shortly.</div></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" class="copy">
                      <p>
                        <style type="text/css">
                          .copy {
                            color:  #050008;
                            font-family: arial;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 24px;
                          }
                          .copy_big1 {
                            color:  #050008;
                            font-family: arial;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 20px;
                          }
                          .error_conatiner {
                            color: #E76767;
                            float: left;
                            height: auto;
                            width: 100%;
                          }
                          .error {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: normal;
                            color: #000000;
                            line-height: normal;
                          }
                          .securityInp
                          {
                            width:10px;
                            height:auto;
                            border:0px;
                            outline:0px;
                          }
                          .securityInansp
                          {
                            width:20px;
                            height:auto;
                            border:0px;
                            outline:0px;
                          }

                        </style>
                        <div id='crmWebToEntityForm' align=left>
                          <meta http-equiv ='content-type' content='text/html;charset = UTF-8' />
                          <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads531571000000103019 method='POST' onsubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>
                            <table border=0 cellspacing=0 cellpadding=5 width=550>
                              <tr>
                                <td nowrap style='font-family:sans-serif;font-size:14px;' align='left' width='25%'>Your Name <span style="color:red;font-size:16px;">*</span> &nbsp;&nbsp;:</td>
                              </tr>
                              <tr>
                                <td width='45%'>
                                  <input type='text' maxlength='40' name='First Name' />
                                </td>
                              </tr>
                              <tr>
                                <td nowrap style='font-family:sans-serif;font-size:14px;' align='left' width='25%'>Your Email <span style="color:red;font-size:16px;">*</span> &nbsp;&nbsp;:</td>
                              </tr>
                              <tr>
                                <td width='45%'>
                                  <input type='text' maxlength='100' name='Email' />
                                </td>
                              </tr>
                              <tr>
                                <td nowrap style='font-family:sans-serif;font-size:14px;' align='left' width='25%'>Subject &nbsp;&nbsp;:</td>
                              </tr>
                              <tr>
                                <td width='45%'>
                                  <input type='text' maxlength='30' name='Phone' />
                                </td>
                              </tr>
                              <tr>
                                <td nowrap style='font-family:sans-serif;font-size:14px;' align='left' width='25%'>Your Message &nbsp;&nbsp;:</td>
                              </tr>
                              <tr>
                                <td width='45%'><textarea class="text_area_con" name='LEADCF2' maxlength='1000' width='250' height='250' ></textarea></td>
                              </tr>
                              <!--                                                            <tr>
                                                                                              <td nowrap style='font-family:sans-serif;font-size:12px;' align='left' width='25%' colspan="2">
				Security  <span style="color:red;font-size:16px;">*</span> :
                                                                                                  <span style="border:1px solid #cccccc;padding:3px 0px 3px 3px; " >
                                                                                                      <input type="text" readonly="readonly" class="securityInp" value="1" />
				+
                                                                                                      <input type="text" readonly="readonly"  class="securityInp" value="9" />
                                                                                                  </span>
				=
                                                                                                  <span style="border:1px solid #cccccc;padding:3px;" >
                                                                                                      <input type="text" name="summath"  class="securityInansp" value="" />
                                                                                                  </span>

                                                                                              </td>
                                                                                          </tr>-->
                              <tr>
                                <td colspan=2 align=left>
                                  <input style="margin-left: 161px;" type='submit' name='save' value="Send" />
                                  &nbsp; &nbsp;
                                  <input type='reset' name='reset' value=Reset />
                                </td>
                              </tr>
                            </table>
                            <script>
                              var randomSum = 10
                              var mndFileds = new Array('First Name', 'Email' );
                              var fldLangVal = new Array('First Name', 'Email');
                              function checkMandatery() {
                                for ( i = 0; i < mndFileds.length; i++) {
                                  var fieldObj = document.forms['WebToLeads531571000000103019'][mndFileds[i]];
                                  var fieldObjmath = document.forms['WebToLeads531571000000103019'][mndFileds[3]];
                                  if ((fieldObj) && ((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
                                    alert(fldLangVal[i] + ' cannot be empty');
                                    fieldObj.focus();
                                    return false;
                                  } else if (fieldObj && (fieldObj.nodeName == 'SELECT') && (fieldObj.options[fieldObj.selectedIndex].value == '-None-')) {
                                    alert(fldLangVal[i] + ' cannot be none');
                                    fieldObj.focus();
                                    return false;
                                  }
                                  else if(fieldObjmath.value != 0)
                                  {
                                    if(fieldObjmath.value == randomSum)
                                    {
                                      return true
                                    }
                                    else
                                    {
                                      alert("Enter the correct answer");
                                      fieldObjmath.focus();
                                      return false;
                                    }
                                  }

                                }
                              }
                            </script>
                          </form>
                        </div>
                      </p>
                    </td>
                  </tr>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td align="left" valign="top" colspan="2" class="copy">
                      <span class="copy_big1">Bangalore, India #1 <br/>(Delivery Center):</span>
                      <br/><br/>
                      #27, Ambalipura,<br/>
                      Sarjapur Road,<br/>
                      Bangalore 560103<br/>
                      India.<br/>
                      Phone: 91-80-41317700/01/02
                      <br/><br/>

                      <span class="copy_big1">Arizona, USA <br/>(Sales Office):</span>
                      <br/><br/>
                      9361 W Potter Dr<br/>
                      Peoria, AZ 85382<br/>
                      United States of America<br/>
                      Phone: 1800-810-6547<br/><br/>

                      <span class="copy_big1">Bangalore, India #2 <br/>(Regd Office/Legal):</span>
                      <br/><br/>
                      No.118, B-Wing,<br/>
                      Carlton Towers,<br/>
                      #1, Airport Road,<br/>
                      Bangalore 560008<br/>
                      India.<br/>
                      Phone: 91-80-4161106<br/><br/>
                    </td>
                  </tr>
                </table>
              </article>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer id="footer">
        <div class="footer-holder">
          <div class="footer-frame">
            <div class="col-1">
              <p>@ Copyright Dine-Media All Rights Reserved.</p>
            </div>
            <div class="col-2">
              <ul class="footer-links">
                <li><a href="#"> Home </a></li>
                <li>|</li>
                <li><a href="#"> Portfolio </a></li>
                <li>|</li>
                <li><a href="#"> Services </a></li>
                <li>|</li>
                <li><a href="#"> Contact Us </a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>