  <div id="web-backgourd">
    <!-- sub navigation -->
    <article class="content-section1">
      <div class="col-5">
        <div id="yellow">
          <ul class="dashboardtabs">
            <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Custom Application Development</a></div></li>
            <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Product Development Services</a></div></li>
            <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">SAAS/PAAS/IAAS Appication <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Development</a></div></li>
            <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab4">Product Support/Maintenence <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</a></div></li>
            <li><div class="li-a-img" style="margin-left: -1px;    margin-top: -2px;    padding: 10px;"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab5">Web Services/API Development <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</a></div></li>
          </ul>
        </div>
      </div>
      <div class="dashboardpanes">
        <div class="dashboardPanels tabs" id="tab1">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.<br/>
              Our processes and tools makes us an efficient team thus reducing your cost in both short and long term.
              We are experts in cloud so you can expect all the required help to take your application on cloudOur
              Angile approach to development gives you quick time-to-market with frequent deliveries and reduced
              release  time with faster response to business dynamics.We are very much flexible on working with new
            </div>
          </div>
        </div>
        <div class="dashboardPanels tabs" id="tab2" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.<br/>
              Our processes and tools makes us an efficient team thus reducing your cost in both short and long term.
              We are experts in cloud so you can expect all the required help to take your application on cloudOur
              Angile approach to development gives you quick time-to-market with frequent deliveries and reduced
              release  time with faster response to business dynamics.We are very much flexible on working with new
            </div>
          </div>
        </div>
        <div class="dashboardPanels tabs" id="tab3" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.<br/>
              Our processes and tools makes us an efficient team thus reducing your cost in both short and long term.
              We are experts in cloud so you can expect all the required help to take your application on cloudOur
              Angile approach to development gives you quick time-to-market with frequent deliveries and reduced
              release  time with faster response to business dynamics.We are very much flexible on working with new
            </div>
          </div>
        </div>
        <div class="dashboardPanels tabs" id="tab4" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.<br/>
              Our processes and tools makes us an efficient team thus reducing your cost in both short and long term.
              We are experts in cloud so you can expect all the required help to take your application on cloudOur
              Angile approach to development gives you quick time-to-market with frequent deliveries and reduced
              release  time with faster response to business dynamics.We are very much flexible on working with new
            </div>
          </div>
        </div>
        <div class="dashboardPanels tabs" id="tab5" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.<br/>
              Our processes and tools makes us an efficient team thus reducing your cost in both short and long term.
              We are experts in cloud so you can expect all the required help to take your application on cloudOur
              Angile approach to development gives you quick time-to-market with frequent deliveries and reduced
              release  time with faster response to business dynamics.We are very much flexible on working with new
            </div>
          </div>
        </div>
      </div>

    </article>
  </div>
  <div id="design-backgourd">
    <!-- sub navigation -->
    <article class="content-section1">
      <div class="col-5">
        <div id="yellow">
          <ul class="dashboardtabs1">
            <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab1">Web design/ development services</a></div></li>
            <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab2">Hybrid Application development</a></div></li>
            <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab3">Usability Testing Services</a></div></li>
            <li><div class="li-a-img"><img src="/assets/bullet.png"/>&nbsp;&nbsp;<a href="javascript:void(0)" rel="tab4">Wireframe and POC Services</a></div></li>
          </ul>
        </div>
      </div>
      <div class="dashboardpanes1">
        <div class="dashboardPanels1 tabs" id="tab1">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
            </div>
          </div>
        </div>
        <div class="dashboardPanels1 tabs" id="tab2" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
            </div>
          </div>
        </div>
        <div class="dashboardPanels1 tabs" id="tab3" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
            </div>
          </div>
        </div>
        <div class="dashboardPanels1 tabs" id="tab4" style="display:none;">
          <div class="col-6">
            <div id="sub_text">
              Dine Media specializes in custom software and application development. Your requirements can come from any domain and in any format, it can be a new concept or a problem in existing application, we do an intense analysis and suggest you a best approach to your problem. Since we follow strict Agile methodologies we make sure you dont have to wait long to see progress and you become a part  of our team taking application to the market quickly.
              <br/><strong>How can it help you working</strong><br/>
              Our delivery process and quality standards provides increased customer satisfaction which is essential for a long-term and profitable relationship.<br/>
              End-End application design and development, our team can you work on your concept and provide you best solution which can be adopted by target customer group.
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div style="text-align: center; margin-bottom: 35px;">
     <%= link_to image_tag("/assets/portfolio/request a quote button.png"), "/contact" %>  
  </div>