<!-- sub navigation -->
<article class="content-section" style="overflow: visible;">
  <div class="col-1">
    <div class="dine-welcome">
      <img src="/assets/home/123_03.jpg"/>
    </div>
    <div id="text">
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essential. Lorem Ispsum is simply dummy text of the printing andtupese- tting industry.
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essential. Lorem Ispsum is simply dummy text of the printing andtupesetting industry.
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essential. Lorem Ispsum is simply dummy text of the printing andtupesetting industry.
    </div>
    <div id="social-main">
      <img src="/assets/home/saas pass txt.png"/>
    </div>
    <div class="col-3">
      <div id="design">
        <div style="padding:98px 0 10px 50px;width: 168px;color: #ffffff;">
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essential.....
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 12px;  margin-top: 4px;"/>
      </div>
      <div id="development">
        <div style="padding:120px 0 10px 50px;width: 168px;color: #ffffff;">
          It has survived not only five centuries, but also the leap into electronic typesetting, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;remaining essential.....
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 12px;  margin-top: -11px;"/>
      </div>
    </div>
    <div class="col-4">
      <div id="cloud">
        <div style="padding:98px 0 10px 45px;width: 168px;color: #ffffff;">
          It has survived not only five centuries, but also the leap into electronic typesetting, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;remaining essential.....
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 12px;  margin-top: 4px;"/>
      </div>

      <div id="support">
        <div style="padding:120px 0 10px 45px;width: 168px;color: #ffffff;">
          It has survived not only five centuries, but also the leap into electronic typesetting, &nbsp;&nbsp;&nbsp;remaining essential.....
        </div>
        <img src="/assets/home/more button.png" style="float:right; margin-right: 13px;  margin-top: -11px;"/>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div id="portpolio">
      <div id="slides">
        <div class="slides_container">
          <img src="/assets/img/slide-1.jpg" width="380" height="220" alt="Slide 1" />
          <img src="/assets/img/slide-2.jpg" width="380" height="220" alt="Slide 2" />
          <img src="/assets/img/slide-3.jpg" width="380" height="220" alt="Slide 3"/>
          <img src="/assets/img/slide-4.jpg" width="380" height="220" alt="Slide 4"/>
          <img src="/assets/img/slide-5.jpg" width="380" height="220" alt="Slide 5"/>
          <img src="/assets/img/slide-6.jpg" width="380" height="220" alt="Slide 6"/>
          <img src="/assets/img/slide-7.jpg" width="380" height="220" alt="Slide 7"/>
        </div>
      </div>
    </div>
    <div id="client_thinks">
      <div id="client_sub_thinks">
        <div style="color: #274053;    font-size: 14px;    font-weight: bold;    padding: 15px;">
          Lorem Ispsum is simply dummy text of the printing andtupese- tting industry.
          <br/><br/>
          <span style="color: black;    float: right;    font-family: Georgia;    font-size: 16px;    font-style: italic;    font-weight: bold;">Prashant Shah</span>
        </div>
      </div>
      <div style="margin:16px 10px 10px;">
        <%= link_to image_tag("/assets/home/quote button.png", :style=>"margin: -10px 0 3px 43px;"), "/contact" %>
         <%= link_to image_tag("/assets/home/facebook icon.png"), "" %>
        <%= link_to image_tag("/assets/home/twitter icon.png", :style=>"margin-top: -23px;"), "" %>
      </div>
    </div>
  </div>
</article>